<div class="container mt-3">
  <form action="/books" method="GET">
    {{#each genres as |genre|}}
      <button class="btn btn-outline-secondary" type="submit" name="genres" value="{{genre}}">{{genre}}</button>
    {{/each}}

    <div>
      <label for="minPages">Mínimo de páginas</label>
      <input id="minPages" type="range" name="minPages">
      <span>Value: <output id="minPages"></output></span>
    </div>
    <div>
      <label for="">Máximo de páginas</label>
      <input id="maxPages" type="range" name="maxPages">
      <span>Value: <output id="maxPages"></output></span>
    </div>

    <button class="btn btn-outline-primary">Enviar</button>
    <a class="btn btn-secondary" href="/books">Limpiar filtros</a>
  </form>


  <h1>Libros disponibles</h1>

  {{#if author}}
    <h4>Mostrando los libros de {{author}}</h4>
  {{/if}}

  {{#if books}}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{#each books as |book|}}
        <div class="col">
          {{> bookcard book=book}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No hay resultados con tus filtros actuales</p>
  {{/if}}

</div>