<div class="container">
  <h1>{{currentUser.username}}</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{#each currentUser.likes as  |like|}}
      <div class="col">
        {{> bookcard book=like.book}}
      </div>
    {{/each}}
  </div>
</div>
